<% include ../partials/header %>

<div class="about-blurb">
  <h1>About Sceptech</h1>
  <p>This is my first ever RESTful app: created with NodeJS, Express and MongoDB.<br><br>
    As it's a RESTful app, it was made following the http protocols that encompass CRUD (create, read, update, delete).
    It includes mongoose-in order to transfer information in between the backend and the browser. It also includes passport-an authorisation package that allows an administrator to edit the site as well as users to add comments after signing up and logging in.<br><br>
    Styling is mostly done through Bootstrap and pure CSS (so no pre-processors-if you couldn't already tell...).<br>
    The themes of this blog app are technology and the internet and what uninformed readers should know about the latest developments in both fields.<br><br>
    Primarily though: this website was a run out for my knowledge of things NodeJS-orientated.<br><br>
  </p>
  <img src="https://media.giphy.com/media/l3vRlHQuR74a2r9KM/giphy.gif">
</div>

<% include ../partials/footer %>
