<% include ../partials/header %>

<h1>Login</h1>

<form action="/login" method="POST">
  <input class="login-form" type="text" name="username" placeholder="username">
  <input class="login-form" type="password" name="password" placeholder="password">
  <button class="btn btn-lg login-form">Login</button>
</form>

<% include ../partials/footer %>
