<% include ../partials/header %>

<h1>Sign up</h1>

<form action="/register" method="POST">
  <input class="login-form" type="text" name="username" placeholder="username">
  <input class="login-form" type="password" name="password" placeholder="password">
  <button class="btn btn-lg login-form">Sign Up</button>
</form>

<% include ../partials/footer %>
